@model UpdateFeatureDto


@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
	<div class="col-xl-12">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Araç Özelliği Güncelleme</h4>
				<p class="card-subtitle mb-4">Araç özelliği ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra güncelle butonuna tıklayınız.</p>

				<form method="post">
					<input type="hidden" asp-for="FeatureID" />
					<div class="form-group">
						<label for="exampleInputPassword1">Araç Özelliği</label>
						<input type="text" class="form-control" asp-for="Name" id="exampleInputPassword1" placeholder="Araç özelliği girişi yapınız">
					</div>
					<button type="submit" class="btn btn-primary waves-effect waves-light">Aracı Güncelle</button>
				</form>

			</div> <!-- end card-body-->
		</div>
	</div>
</div>

