@model CreateLocationDto

@{
    ViewData["Title"] = "CreateLocation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
	<div class="col-xl-12">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Yeni Lokasyon Ekleme</h4>
				<p class="card-subtitle mb-4">Lokasyon ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra kaydet butonuna tıklayınız.</p>

				<form method="post">
					<div class="form-group">
						<label for="exampleInputPassword1">Lokasyon</label>
						<input type="text" class="form-control" asp-for="LocationName" id="exampleInputPassword1" placeholder="Lokasyon girişi yapınız">
					</div>
					<button type="submit" class="btn btn-primary waves-effect waves-light">Lokasyonu Kaydet</button>
				</form>

			</div> <!-- end card-body-->
		</div>
	</div>
</div>

