
@model CreateReservationDto

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="col-md-12 block-9 mb-md-5">
	<form class="bg-light p-5 contact-form" method="post">
		<div class="form-group">
			<input type="hidden" asp-for="CarID" value="@ViewBag.v3" class="form-control">
		</div>
		<div class="form-group">
			<label for="" class="label">Adınız</label>
			<input type="text" asp-for="Name" class="form-control">
		</div>
		<div class="form-group">
			<label for="" class="label">Soyadınız</label>
			<input type="text" asp-for="Surname" class="form-control">
		</div>
		<div class="form-group">
			<label for="" class="label">Mail Adresiniz</label>
			<input type="text" asp-for="Email" class="form-control">
		</div>
		<div class="form-group">
			<label for="" class="label">Telefon Numaranız</label>
			<input type="text" asp-for="Phone" class="form-control">
		</div>
		<div class="form-group">
			<label for="" class="label">Teslim Almak İstediğiniz Lokasyonu Seçiniz</label>
			<select class="form-control" style="color:white" asp-for="PickUpLocationID" asp-items="@ViewBag.locationList">
				<option value="" style="color:white">Seçiniz</option>
			</select>
		</div>
		<div class="form-group">
			<label for="" class="label">Teslim Etmek İstediğiniz Lokasyonu Seçiniz</label>
			<select class="form-control" style="color:white" asp-for="DropOffLocationID" asp-items="@ViewBag.locationList">
				<option value="" style="color:white">Seçiniz</option>
			</select>
		</div>
		<div class="form-group">
			<label for="" class="label">Yaşınız</label>
			<input type="text" asp-for="Age" class="form-control">
		</div>
		<div class="form-group">
			<label for="" class="label">Ehliyet Yılınız</label>
			<input type="text" asp-for="DriverLicenseYear" class="form-control">
		</div>
		<div class="form-group">
			<label for="" class="label">Eklemek İstedikleriniz</label>
			<textarea asp-for="Description" id="" cols="30" rows="7" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<input type="submit" value="Rezervasyonu Tamamla" class="btn btn-primary py-3 px-5">
		</div>
	</form>
</div>
