@model CreateBrandDto

@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="row">
	<div class="col-xl-12">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Yeni Marka Ekleme</h4>
				<p class="card-subtitle mb-4">Araç özelliği ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra kaydet butonuna tıklayınız.</p>

				<form method="post">
					<div class="form-group">
						<label for="exampleInputPassword1">Marka Adı</label>
						<input type="text" class="form-control" asp-for="BrandName" id="exampleInputPassword1" placeholder="Araç özelliği girişi yapınız">
					</div>
					<button type="submit" class="btn btn-primary waves-effect waves-light">Markayı Kaydet</button>
				</form>

			</div> <!-- end card-body-->
		</div>
	</div>
</div>


