@model UpdateBrandDto

@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
	<div class="col-xl-12">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Marka Güncelleme</h4>
				<p class="card-subtitle mb-4">Marka ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra güncelle butonuna tıklayınız.</p>

				<form method="post">
					<input type="hidden" asp-for="BrandID" />
					<div class="form-group">
						<label for="exampleInputPassword1">Marka Adı</label>
						<input type="text" class="form-control" asp-for="BrandName" id="exampleInputPassword1" placeholder="Araç özelliği girişi yapınız">
					</div>
					<button type="submit" class="btn btn-primary waves-effect waves-light">Markayı Güncelle</button>
				</form>

			</div> <!-- end card-body-->
		</div>
	</div>
</div>

